h1 {
  text-align: center;
  margin-bottom: 0;
}

.invalid-input {
  font-size: 20px;
  color: red;
}

.nav-ul {
  margin-top: 0;
  height: 4em;
  font-size: 22px;
  background-color: #4592eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 50px;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.blueBackG {
  width: 30%;
  background-color: #4592eb;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register, .login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3em;
}


.register h1, .login h1{
  margin-bottom: 8%;
  color: white;
}

.register .inputBox, .login .inputBox {
  text-align: center;
  font-size: 18px;
  padding: 6px;
  border: 2px solid white;
  width: 60%;
  margin-bottom: 1.6em;
  background-color: #e9f0fe;
}

.inputBox:focus{
  outline: 3px solid #0453ae;   
}

.invalid-input-register {
  font-size: 20px;
  color: red;
  margin-top: -0.4em;
  margin-bottom: 0.4em;
}

.appButton {
  padding: 2% 3%;
  font-size: 18px;
  font-weight: 800;
  background-color: #ff4500;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #4592eb;
}

/*ProductList*/

.img-aleat {
  margin-bottom: 6%;
}

.product-list, .add-product {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 1.5%;
  background-color: #4592eb;
  text-align: center;
  border-radius: 25px;
}

.product-list h1 {
  margin-top: 0;
  font-size: 28px;
  margin-bottom: 0.8em;
}

.product-list p {
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 18px;
}

.search-product-box {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 35%;
}

.product-list input {
  border: #4592eb 5px solid;
  font-size: 18px;
  height: 1.4em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.6em;
}

/*Quality Style*/

.containerCondBut {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.addCondition {
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;
  margin-top: 0.6em;
  padding: 0.6em 0em;
  display: flex;
  align-items: center;
  font-size: 1.6em;
  justify-content: space-around;
}

.conditionButton {
  background-color: #4592eb;
  color: black;
  font-weight: 600;
  border: 2px solid green;
  border-radius: 15px;
  cursor: pointer;
}

.condition button {
  border-radius: 50%;
  width: 75px;
  aspect-ratio: 1/1;
}



.condition p {
  margin: 0;
  margin-bottom: 0.6em;
}

.conditionButton:hover {
  transition: 0.6s;
  border: 5px solid #08ffff;
  color: white;
}

.selected {
  border: 5px solid #08ffff;
  color: white;
}

.products {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4%;
}

.product {
  background-color: white;
  border: #08ffff 3px solid;
  height: 320px;
  padding: 2% 2% 0% 2%;
  border-radius: 25px;
  width: 25%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 10px;
}

.product-img {
  margin-top: 0px; 
}

.product-img img {
  max-height: 150px;
}

.product ul, .product p {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.product a {
  text-decoration: none;
}

.product a:visited {
  color: white;
}

.product-list ul {
  list-style: none;
}
.product-list ul li {
  text-decoration: none;
}

.product-buttons {
  flex-wrap: wrap;
  margin-top: 1em;
}

.super-button {
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  border: 0px;
  font-weight: 800;
  background-color: #ff4500;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

/*AddProduct*/

.add-product {
  padding-top: 0.6em;
  padding-bottom: 2.6em;
}

.add-product h1 {
  margin-bottom: 0.5em;
}

.add-product select, .add-product input, .addCondition {
  background-color: white;
}

#name-select, #price, #company, #addProduct {
  margin-top: 0.6em;
  text-align: center;
  font-size: 1.4em;
  height: 3em;
  width: 60%;
  appearance:none;
  align-self: center;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid black;
  border-radius: 25px;
}

#price::placeholder, #company::placeholder {
  color: black;
}







@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Profile*/

#registrationDate {
  margin-top: 0.2em;
  text-align: center;
}

.greasy {
  font-size: 22px;
  font-weight: 800;
}

.containerPurchases, .sold-products, .inSellingProcess {
  background-color: #4592eb;
  border-radius: 25px;
  font-size: 1.2em;
  padding-top: 0.1em;
  padding-bottom: 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inSellingProcess, .sold-products {
  display: block;
  text-align: center;
}

.inSellingProcess {
  padding-bottom: 2em;
}

.inSellingProcess p {
  margin: 0;
}

.inSellingProcess button {
  cursor: pointer;
}

.sellingContainer, .soldContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sellingContainer p {
  background-color: #08ffff;
}

.containerPurchases h2, .sold-products h2, .inSellingProcess h2{
  margin-bottom: 0.6em;
}

.sold-products .totauxTotaux {
  margin-top: 0.7em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.containerPurchases ul {
  list-style: none;
  padding: 0;
}

.commande, .sellingArticle, .soldArticle {
  background-color: aqua;
  border-radius: 35px;
  margin-top: 0.2em;
  padding-bottom: 100px;
}

.sellingArticle, .soldArticle {
  padding: 2% 3% 3%;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px solid blue;
}

.soldArticle {
  padding: 1.5% 3% 1.5%;
}
.soldArticle p {
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.sellingArticle p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.sellingArticle .optionsSelling {
  margin-top: 0.6em;
}

.commande li {
  margin-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
}

.dateCommande {
  color: red;
  margin-bottom: 1.6em;
  padding-top: 1.6em;
}

.listeArticles {
  padding-bottom: 0.8em;
  margin-bottom: 0em;
}

.listeArticles li {
  text-align: center;
  background-color: aquamarine;
  margin-top: 0.6em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: fit-content;
  border-radius: 8px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.totauxTotaux {
  margin: 0;
  padding: 0;
  margin-bottom: 0.6em;
  background-color: #08ffff;
  padding: 0.8em;
  border-radius: 20px;
  font-size: 22px;
}

/*cart*/

.cart {
  background-color: #4592eb;
  padding: 1em 4em 2.5em 4em;
  border-radius: 25px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cart ul {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  background-color: blue;
  border-radius: 25px;
}

.cart li {
  margin-top: 0.4em;
  padding: 0;
}

.cart .article {
  padding: 0.4em 1.2em 1em 1.2em;
  margin-top: 1.2em;
  width: 24%;
  background-color: #08ffff;
}

.article .name {
  font-size: 20px;
  font-weight: 900;
}

.article button {
  cursor: pointer;
  font-size: 20px;
  padding: 0.5em;
  border: 0;
  border-radius: 20px;
  margin-top: 0.5em;
}

.cart .command {
  cursor: pointer;
  margin-top: 0.7em;
  font-size: 24px;
  padding: 0.2em 0.6em 0.2em 0.6em;
  border-radius: 25px;
  border: 0;
}

.cart p {
  margin-top: 1.8em;
  width: fit-content;
  border: 1px solid black;
  font-size: 20px;
  padding: 0.2em 0.6em 0.2em 0.6em;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.totalCart {
  white-space: nowrap;
}

/*Takes out arrows in input number from addProduct*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
